/** #Banner */
#banner{
  width: 100%; height: calc(100vh - 160px); min-width: 1280px;
}
.swiper-slide img { /* 슬라이드 기본으로 이미지 꽉 채우기*/
  display: block;
  width: 100%; height: 100%;
  object-fit: cover;
}
#banner.main-mySwiper1 .container{ /* main-mySwiper1 배너슬라이드*/
  position: relative;
}
#banner.main-mySwiper1 .swiper-button-next,
#banner.main-mySwiper1 .swiper-button-prev{
  position: absolute;
  bottom:6px; right: 0; top:auto; left:auto;
  font-weight: 900;
  transform: scale(0.3);
  color:var(--color-white2);
  transition: .2s;
}
#banner.main-mySwiper1 .swiper-button-prev{
  right: 83px;
  z-index: 100;
}
#banner.main-mySwiper1 .swiper-pagination{
  position: absolute;
  right: 30px; bottom:19px;
  width: auto;
  text-align: right;
  font-weight: 500;
  font-family: "Pretendard";
  font-size: 16px;
  color:var(--color-white2);
}
#banner.main-mySwiper1 .swiper-pagination-current{opacity: 1;}
#banner.main-mySwiper1 .swiper-pagination-total{opacity: 0.5;}


/** #recommended-products */
#recommended-products{
  padding:135px 0;
}
#recommended-products .recommended-products_wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#recommended-products .main-mySwiper2{ /* main-mySwiper2 이벤트페이지 슬라이드 */
  width: 490px; height: 490px;
}
#recommended-products .main-mySwiper2 .swiper-pagination .swiper-pagination-bullet{
  background: var(--color-main_beige);
}
#recommended-products .main-mySwiper2 .swiper-pagination .swiper-pagination-bullet-active{
  background:var(--color-main_beige);
}

#recommended-products .recommended-products_wrap .right-wrap .text-box h1{
  font: bold 30px/1.5 "Pretendard";
  color: var(--color-text1_dark);
}
#recommended-products .recommended-products_wrap .right-wrap .text-box p{
  font: 400 16px/1.5 ;
  color:var(--color-text2_gray);
}

#recommended-products .main-mySwiper3{ /* main-mySwiper3 추천제품 슬라이드 */
  width: 670px; height: auto;
}
#recommended-products .main-mySwiper3{
  position: relative;
  padding: 43px 0;
}
#recommended-products .main-mySwiper3 .product-item img{
  filter:contrast(92%) sepia(7%) saturate(120%);
}
#recommended-products .main-mySwiper3 .product-item .img-wrap{
  position: relative;
  margin-bottom: 10px;
}
#recommended-products .main-mySwiper3 .product-item .img-wrap span{
  position: absolute;
  bottom: 10px; left:13px; 
  padding: 3px 16px;
  border-radius: 16px;
  background: var(--color-main_beige);
  color:var(--color-white1);
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 1px;
}
#recommended-products .main-mySwiper3 .product-item p{
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}
#recommended-products .main-mySwiper3 .swiper-pagination{
  height: 7px;
  position: absolute;
  bottom: 0; top:auto;
}
#recommended-products .main-mySwiper3 .swiper-pagination-horizontal{
  background: #b3917179;
}
#recommended-products .main-mySwiper3 .swiper-pagination-horizontal .swiper-pagination-progressbar-fill{
  background: var(--color-main_beige);
}
#recommended-products .right-wrap .btn{
  float: right;
  width: fit-content;
  display: flex;
  align-items: center;
  color: var(--color-sub_brown_gray);
  font-weight: bold;
  margin-top:18px;
  transition: .2s;
}
#recommended-products .right-wrap .btn img{
  margin-left: 6px;
  transition: .2s ease-out;
}
#recommended-products .right-wrap .btn:hover{
  filter: brightness(50%);
}
#recommended-products .right-wrap .btn:hover img{
  transform: translateX(5px);
}

/** #brand-info */
#brand-info{
  width: 100%; height: 750px;
  position: relative;
}
#brand-info .brand-info_wrap{
  display: flex;
  align-items: flex-start;
  gap: 55px;
  margin-top: 100px;
  margin-bottom: 400px;
}
#brand-info .brand-info_wrap .text-box h3{
  font:500 30px "Utopia";
  color: var(--color-main_green);
}
#brand-info .brand-info_wrap .text-box h1{
  font: 500 40px "Utopia";
  color: var(--color-sub_dark_green);
}
#brand-info .brand-info_wrap .text-box p{
  font-weight: 400;
  font-size: 16px;
  color: var(--color-text2_gray);
}

#brand-info .brand-info_wrap .img-box_wrap{
  display: flex;
  gap: 30px;
}
#brand-info .brand-info_wrap .img-box_wrap .img-box{
  position: relative;
  display: block;
  width: 351px; height: 380px;
  border-radius: 30px;
  overflow: hidden;
}
#brand-info .brand-info_wrap .img-box_wrap .img-box:nth-of-type(2){
  transform: translateY(120px);
}
#brand-info .brand-info_wrap .img-box_wrap .img-box img{
  width: 100%; height: 100%;
  object-fit: cover;
}
#brand-info .brand-info_wrap .img-box_wrap .img-box .overlay{
  position: absolute;
  inset: 0;
  background: #00000059;
}
#brand-info .brand-info_wrap .img-box_wrap .img-box .overlay span{
  position: absolute;
  bottom:18px; right: 25px;
  font-weight: 700;
  color: #fff;
}
#brand-info .brand-info_wrap .img-box_wrap .img-box .overlay span::before{
  content: "";
  position: absolute;
  left: -25px; top: 12px;
  width: 20px; height: 1px;
  background: #fff;
}
#brand-info svg{
  position: absolute;
  bottom:0;
}