/** #Banner */
#banner{
  width: 100%; height: calc(100vh - 160px); min-width: 1280px;
}
.swiper-slide img { /* 슬라이드 기본으로 이미지 꽉 채우기*/
  display: block;
  width: 100%; height: 100%;
  object-fit: cover;
}
#banner.main-mySwiper1 .container{ /* main-mySwiper1 배너슬라이드*/
  position: relative;
}
#banner.main-mySwiper1 .swiper-button-next,
#banner.main-mySwiper1 .swiper-button-prev{
  position: absolute;
  bottom:6px; right: 0; top:auto; left:auto;
  font-weight: 900;
  transform: scale(0.3);
  color:var(--color-white2);
  transition: .2s;
}
#banner.main-mySwiper1 .swiper-button-prev{
  right: 83px;
  z-index: 100;
}
#banner.main-mySwiper1 .swiper-pagination{
  position: absolute;
  right: 30px; bottom:19px;
  width: auto;
  text-align: right;
  font-weight: 500;
  font-family: "Pretendard";
  font-size: 16px;
  color:var(--color-white2);
}
#banner.main-mySwiper1 .swiper-pagination-current{opacity: 1;}
#banner.main-mySwiper1 .swiper-pagination-total{opacity: 0.5;}


/** #recommended-products */
#recommended-products{
  width: 100%; min-width: 1280px;
  padding:135px 0;
}
#recommended-products .recommended-products_wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#recommended-products .main-mySwiper2{ /* main-mySwiper2 이벤트페이지 슬라이드 */
  width: 490px; height: 490px;
}
#recommended-products .main-mySwiper2 .swiper-pagination .swiper-pagination-bullet{
  background: var(--color-main_beige);
}
#recommended-products .main-mySwiper2 .swiper-pagination .swiper-pagination-bullet-active{
  background:var(--color-main_beige);
}

#recommended-products .recommended-products_wrap .right-wrap .text-box h1{
  font: bold 30px/1.5 "Pretendard";
  color: var(--color-text1_dark);
}
#recommended-products .recommended-products_wrap .right-wrap .text-box p{
  font: 400 16px/1.5 ;
  color:var(--color-text2_gray);
}

#recommended-products .main-mySwiper3{ /* main-mySwiper3 추천제품 슬라이드 */
  width: 670px; height: auto;
}
#recommended-products .main-mySwiper3{
  position: relative;
  padding: 43px 0;
}
#recommended-products .main-mySwiper3 .product-item .img-box{
  width: 214px; height: 214px;
  overflow: hidden;
}
#recommended-products .main-mySwiper3 .product-item img{
  filter:contrast(92%) sepia(7%) saturate(120%);
  transition: .2s;
}
#recommended-products .main-mySwiper3 .product-item .img-wrap{
  position: relative;
  margin-bottom: 10px;
}

#recommended-products .main-mySwiper3 .product-item a:hover img{
  transform: scale(1.1);
}
#recommended-products .main-mySwiper3 .product-item .img-wrap span{
  position: absolute;
  bottom: 10px; left:13px; 
  padding: 3px 16px;
  border-radius: 16px;
  background: var(--color-main_beige);
  color:var(--color-white1);
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 1px;
}
#recommended-products .main-mySwiper3 .product-item p{
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}
#recommended-products .main-mySwiper3 .swiper-pagination{
  height: 7px;
  position: absolute;
  bottom: 0; top:auto;
}
#recommended-products .main-mySwiper3 .swiper-pagination-horizontal{
  background: #b3917179;
}
#recommended-products .main-mySwiper3 .swiper-pagination-horizontal .swiper-pagination-progressbar-fill{
  background: var(--color-main_beige);
}
#recommended-products .right-wrap .btn{
  float: right;
  width: fit-content;
  display: flex;
  align-items: center;
  color: var(--color-sub_brown_gray);
  font-weight: bold;
  margin-top:18px;
  transition: .2s;
}
#recommended-products .right-wrap .btn img{
  margin-left: 6px;
  transition: .2s ease-out;
}
#recommended-products .right-wrap .btn:hover{
  filter: brightness(50%);
}
#recommended-products .right-wrap .btn:hover img{
  transform: translateX(5px);
}

/** #brand-info */
#brand-info{
  width: 100%; height: 750px; min-width: 1280px;
  position: relative;
}
#brand-info .brand-info_wrap{
  display: flex;
  align-items: flex-start;
  gap: 55px;
  margin-top: 100px;
  margin-bottom: 400px;
}
#brand-info .brand-info_wrap .text-box h3{
  font:500 30px "Utopia";
  color: var(--color-main_green);
}
#brand-info .brand-info_wrap .text-box h1{
  font: 500 40px "Utopia";
  color: var(--color-sub_dark_green);
}
#brand-info .brand-info_wrap .text-box p{
  margin-top: 18px;
  font-weight: 500;
  font-size: 16px;
  color: var(--color-text2_gray);
}

#brand-info .brand-info_wrap .img-box_wrap{
  display: flex;
  gap: 30px;
}
#brand-info .brand-info_wrap .img-box_wrap .img-box{
  position: relative;
  display: block;
  width: 351px; height: 380px;
  border-radius: 30px;
  overflow: hidden;
}
#brand-info .brand-info_wrap .img-box_wrap .img-box:nth-of-type(2){
  transform: translateY(120px);
}
#brand-info .brand-info_wrap .img-box_wrap .img-box img{
  width: 100%; height: 100%;
  object-fit: cover;
  transition: .2s;
}
#brand-info .brand-info_wrap .img-box_wrap .img-box:hover img{
  transform: scale(1.1);
}
#brand-info .brand-info_wrap .img-box_wrap .img-box .overlay{
  position: absolute;
  inset: 0;
  background: #00000059;
}
#brand-info .brand-info_wrap .img-box_wrap .img-box .overlay span{
  position: absolute;
  bottom:18px; right: 25px;
  font-weight: 700;
  color: #fff;
}
#brand-info .brand-info_wrap .img-box_wrap .img-box .overlay span::before{
  content: "";
  position: absolute;
  left: -25px; top: 12px;
  width: 20px; height: 1px;
  background: #fff;
}
#brand-info svg{
  width: 100%;
  position: absolute;
  bottom:0;
  pointer-events: none;
  transform: translateY(2px);
}

.section-bg{ width: 100%; min-width: 1280px; background: linear-gradient(180deg,rgba(255, 255, 255, 0.8) 0%, rgb(255, 249, 237) 80%);}

/** #service-shortcut */
#service-shortcut{
  width: 100%; min-width: 1280px; height: 813px;
  background: var(--color-sub_mid_green);
  display: flex;

}
#service-shortcut .service-shortcut_wrap{
  display: flex;
  gap: 213px;
}
#service-shortcut .service-shortcut_wrap .service-shortcut_itme{
  position: relative;
  transition: .4s;
}
#service-shortcut .service-shortcut_wrap .service-shortcut_itme .itme-click{
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 255px; height: 365px;
  border-radius: 45px;
  background: #fff;
  padding: 40px 40px 0;
  box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.2);

  transition: .3s;
}
#service-shortcut .service-shortcut_wrap .service-shortcut_itme .itme-click img:nth-of-type(1){
  margin-bottom: 15px;
}
#service-shortcut .service-shortcut_wrap .service-shortcut_itme:nth-of-type(2) .itme-click img:nth-of-type(1){
  margin-top:10px;
  margin-bottom: 20px;
}
#service-shortcut .service-shortcut_wrap .service-shortcut_itme .itme-click h3{
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 10px;
  align-self: flex-start;
}
#service-shortcut .service-shortcut_wrap .service-shortcut_itme .itme-click p{
  color: var(--color-text2_gray);
  font-weight: 500;
  margin-bottom: 21px;
  align-self: flex-start;
}
#service-shortcut .service-shortcut_wrap .service-shortcut_itme .itme-click img:nth-of-type(2){
  align-self: flex-end;
  transform: translateX(10px);
}
#service-shortcut .service-shortcut_wrap .service-shortcut_itme .img-box{
  width: 408px; height: 408px;
  border-radius: 45px;
  overflow: hidden;
  box-shadow: 0 0 36.5px rgb(0,0,0,0.35);
  transform: translate(159px, 25px);

  transition: .4s;
}
#service-shortcut .service-shortcut_wrap .service-shortcut_itme .img-box img{
  width: 100%; height: 100%;
  object-fit: cover;
}
#service-shortcut .service-shortcut_wrap .service-shortcut_itme .itme-click:hover{
  transform: translateY(-15px);
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.15);
}
#service-shortcut .service-shortcut_wrap .service-shortcut_itme:hover{
  transform: translateY(-5px);
}
#service-shortcut .service-shortcut_wrap .service-shortcut_itme:hover .img-box{
  box-shadow: 0 0 40px rgb(0,0,0,0.2);
}

/* #instagram-post  */
#instagram-post{
  display: flex;
  width: 100%; min-width: 1280px; height: 813px;
  background: var(--color-sub_mid_green);
}

#instagram-post .instagram-post_wrap .text-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:12px;
}
#instagram-post .instagram-post_wrap .text-box > a{
  width: fit-content;
  display: block;
  color: var(--color-main_ivory);
  font-weight: bold;
  font-size: 26px;
  transition: .2s;
}
#instagram-post .instagram-post_wrap .text-box > a:hover{
  transform: translateY(-5px);
}
#instagram-post .instagram-post_wrap .text-box p{
  color: #e6ded5;
  font-weight: 400;
}
#instagram-post .instagram-post_wrap .post-grid{
  display: flex;
  gap:21px;
  margin-top: 60px;
}
#instagram-post .instagram-post_wrap .post-grid .post-item{
  width: 282px; height: 282px; 
  overflow: hidden;
  box-shadow: 4px 4px 17px rgba(0,0,0,0.2);
}
#instagram-post .instagram-post_wrap .post-grid .post-item img{
  width: 100%; height: 100%;
  object-fit: cover;
  transition: .2s;
}
#instagram-post .instagram-post_wrap .post-grid .post-item:hover img{
  transform: scale(1.1);
}
#instagram-post .instagram-post_wrap .community-btn_goto{
  position: relative;
  display: block;
  width: 300px; height: 50px;
  background: var(--color-white1);
  color: var(--color-main_green);
  font-weight: bold;
  text-align: center;
  line-height: 50px;
  border-radius: 64px;
  padding-right: 24px;
  margin: 69px auto 0;

  transition: .2s;
}
#instagram-post .instagram-post_wrap .community-btn_goto::after{
  content: "";
  width: 24px; height: 24px;
  background: url(../img/common/icon/chevron-right.png) no-repeat center;
  position: absolute;
  bottom:12px; right: 18px;
  transition: .2s;
}
#instagram-post .instagram-post_wrap .community-btn_goto:hover{
  background: var(--color-main_green);
  color: var(--color-white1);
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.09);
}
#instagram-post .instagram-post_wrap .community-btn_goto:hover::after{
  filter:saturate(100%) contrast(0%) brightness(200%) ;
}